*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.fluid-container
{
	margin: 0px;
	overflow: hidden;
}
.callus
{
	float: right;
	margin-right: 25px;
	margin-top: 15px;
}
.topmenu
{
	margin-top: 7px;
	float: right;
}

.ust
{
	height: 55px

}

.navbar-brand
{
	color: white;
}
.alt
{
	height: 45px;
	background-color: #222;
}
#top {
    bottom: 5px;
    bottom: 20px;
    display: none;
    height: 100px;
    position: fixed;
    right: 20px;
}
#h-social{text-align:left;padding:0;margin:0;list-style-type:none} #h-social li{float:left;margin-right:2px;margin-bottom:2px;padding:0;display:inline;width:auto} #h-social li a{display:block;float:left;height:100%;margin:0;padding:0;width:40px;height:40px;text-indent:-9999px}   #h-social li.twitter a{background:url(http://2.bp.blogspot.com/-Wn5djtiQHMA/VCBxCcBOlcI/AAAAAAAABc4/i3QGmdMlZBc/s1600/dinamik_sosyal_medya_butonlar%C4%B1_twitter_html_kod_canavar%C4%B1.png) no-repeat 0 0} #h-social li.twitter a:hover{background-color:#48c4d2}   #h-social li.googleplus a{background:url(http://3.bp.blogspot.com/-R8J-estJ8dY/VCBxAq6nGaI/AAAAAAAABcQ/f6W2VcT7DGQ/s1600/dinamik_sosyal_medya_butonlar%C4%B1_googleplus_html_kod_canavar%C4%B1.png) no-repeat 0 0} #h-social li.googleplus a:hover{background-color:#d94a39}   #h-social li.facebook a{background:url(http://1.bp.blogspot.com/-U9ZcSckaapg/VCBxAhQNksI/AAAAAAAABcM/wT_xumhvMOA/s1600/dinamik_sosyal_medya_butonlar%C4%B1_facebook_html_kod_canavar%C4%B1.png) no-repeat 0 0} #h-social li.facebook a:hover{background-color:#3b5998}   #h-social li.linkedin a{background:url(http://3.bp.blogspot.com/-KXHT5IsVp98/VCBxBPegmAI/AAAAAAAABcg/FLrGzN4t8LY/s1600/dinamik_sosyal_medya_butonlar%C4%B1_linkedin_html_kod_canavar%C4%B1.png) no-repeat 0 0} #h-social li.linkedin a:hover{background-color:#71b2d0}   #h-social li.youtube a{background:url(http://1.bp.blogspot.com/-NgYwBfb9VCM/VCBxCvHUXiI/AAAAAAAABc0/LYsUEkbSQ30/s320/dinamik_sosyal_medya_butonlar%C4%B1_youtube_html_kod_canavar%C4%B1.png) no-repeat 0 0} #h-social li.youtube a:hover{background-color:#f45750}   #h-social li.delicious a{background:url(http://3.bp.blogspot.com/-WNvPH_eKnpI/VCBxAoUa1dI/AAAAAAAABcY/JRztieYfA3k/s1600/dinamik_sosyal_medya_butonlar%C4%B1_delicious_html_kod_canavar%C4%B1.png) no-repeat 0 0} #h-social li.delicious a:hover{background-color:#3274d1}   #h-social li.rss a{background:url(http://1.bp.blogspot.com/-HtCiAfyUnOc/VCBxBZ7127I/AAAAAAAABc8/UtdUGDX7F-U/s1600/dinamik_sosyal_medya_butonlar%C4%B1_rss_html_kod_canavar%C4%B1.png) no-repeat 0 0} #h-social li.rss a:hover{background-color:#fe9900}   #h-social li.stumbleupon a{background:url(http://4.bp.blogspot.com/-psp2_vou_9U/VCBxB86l3FI/AAAAAAAABck/vh6MhvAiWv8/s1600/dinamik_sosyal_medya_butonlar%C4%B1_stumbleupon_html_kod_canavar%C4%B1.png) no-repeat 0 0} #h-social li.stumbleupon a:hover{background-color:#eb4924}   #h-social li a:hover{background-position:0 -40px}   #h-social.effect1 li a{ }   #h-social.effect2 li a{ -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }   #h-social.effect3 li a{ -webkit-transition: all 1s cubic-bezier(0.920, -0.600, 0.030, 1.650); -moz-transition: all 1s cubic-bezier(0.920, -0.600, 0.030, 1.650); -o-transition: all 1s cubic-bezier(0.920, -0.600, 0.030, 1.650); transition: all 1s cubic-bezier(0.920, -0.600, 0.030, 1.650); /* custom */ }    5  </style></head></head><a target="_blank" href="http://www.htmlkodcanavari.blogspot.com/search/label/dinamik kodlar" style="font-size: 6pt; text-decoration: none">Dinamik Sosyal Medya İkonu Html Kodu,+1000 Html Kodları</a> 

